html {
    scroll-behavior: smooth;
  }
  body{
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}


.header-button{
    margin-left: 5vw;
    background-color: #F3D900 !important ;
    font-weight: 1000; 
    width: 190px;
    height: 50px;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    opacity: 0.7;
    color:#F3D900
}
li{
    list-style: none;
    padding-left: 1vw;
}
.nav-title{
    color: #F3D900;
    font-weight: bold;
    font-size: 32px;
    margin-top: -4vh;

    
}
#nav-link{
    color: white ;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;

}
.image{
    height: 100vh;
    width: 100%;
}


/* *****Header content *****/
#content{
    position: relative;
    background-image: url('../images/first.png');
    height: 550px;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    

}
.header-content-top-left{
    color: white;
    position: absolute;
    top: 50vh;
    left: 4vw;

}
.header-content-title{
    font-weight: 500;
    font-size: 50px;
    color: white;
    font-weight: 1000;
    position: absolute;
    top: -13vh;
}
.header-content-text{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #423C3C;
}
.header-content-button{
    border-radius: 10px;
    line-height: 26px;
    color: #212121;
    width:400px;
    height: 67px;
    background-color: #F3D900 !important ;
    font-weight: 1000;
    font-size: 2em;

}
#about .about-content{
    position: relative;
    margin-left: 10vw;
    justify-content: center;
}
.about-content > img{
    float: right;
    margin-top: 99px;
    margin-right: 300px;
    height: 500px;
    width: 400px;


   
}
#about .about-content h1{
    float: left;
    font-size: 3em;
    font-weight: 1000;
    position: absolute;
    margin-top: 30vh;

}

.about-content .about-button{
    width:400px;
    height: 67px;
    background-color: #F3D900 !important ;
    font-weight: 1000;
    margin-top: 50vh;
    font-size: 1.5em;


}

#photos{
    width: 100%;
    height: 100vh;
    padding-top: 60vh;
    position: relative;
}
.about-content p{
    position: relative;
    width: 50vw;
    top: 40vh;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
  }

.photos-p{
    float: right;
    position: absolute;
    right: 2vw;
    padding-top: 4vh;
}
  
#hire{
    position: relative;
    padding-top: 100vh;

}
.hire-image{
    width: 100%;
    height: 50vh;
}
.hire-h1-centered {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;
    font-weight: 1000;
    margin-top: 10%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.photos-nav li{
    font-weight: 10;
    font-family: 'Courier New', Courier, monospace;
}
.nav-link hr{
    border: none;
}
.active hr{
    border-top: 2px solid #F3D900;
    margin-top: 0;
}
.footer-h {
    font-size: 3em;
    font-weight: 900;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-form{
    padding-top: 10vh;
}
.form-input {
    height: 15vh;
}
.footer-content-button{
    width:300px;
    background-color: #F3D900;
    height: 40px;
    font-weight: 1000;
}

@media only screen and (max-width : 1000px){
    .header-content-title{
        top: -30vh;
        font-size: 35px;
    }
    .header-p{
        font-size: 22px;
        width: 330px;
        text-align: left;
        top: -20vh;

    
    }
    .header-content-button{
        width: 300px;
        height: 50px;  
        margin-top: -30vh;
  
    }
    
    #hire{
        margin-top: -30vh;
    
    }
    .hire-h1-centered {
        font-size: 1.3em;
        margin-top: 100px;
    }
    
    .about-content .about-button{
        width: 25vw;
        height: 5vh;
        margin-top: 40vh;
        font-size: 1em;
    
    
    }
    
    .about-content p{
        top: 40vh;
    }    
    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
      }
    
    .photos-p{
        float: right;
        position: absolute;
        padding-top: 4vh;
        margin-left: -10vw; 
       }
 
       .footer-h {
        font-size: 30px;
    }
    .footer-form{
        padding-top: 10vh;
        text-align: left;
        padding-left: 20vw

    }
    .form-input {
        height: 20vh;
        width: 50vh;
    }
    .footer-labl{
        width: 300px;
    }
    .footer-content-button{
        width:300px;
        background-color: #F3D900;
        height: 40px;
        font-weight: 1000;
    }
}
@media only screen and (max-width : 700px){
    .header-content-title{
        top: -30vh;
        font-size: 35px;
    }
    .header-p{
        font-size: 22px;
        width: 330px;
        text-align: left;
        top: -20vh;

    
    }
    .about-content > img{
        height: 650px;
        width: 400px;  
    }
    .about-content{
        padding-top: 300px; 
        margin-left: 300px;    }
   
    
    .about-content .about-button{
        width:200px;
        height: 67px;
        background-color: #F3D900 !important ;
        font-weight: 1000;
        margin-top: 50vh;
        font-size: 1.5em;
    
    
    }
 
   
    
    #photos{
        width: 100%;
        height: 100vh;
        padding-top: 10vh;
        position: relative;
    }
    .about-content p{
        top: -10vh;
    }
    
    
    .photos-p{
        float: right;
        position: absolute;
        right: 2vw;
        padding-top: 4vh;
    }
    #hire{
        margin-top: -100vh;
    
    }
    .hire-h1-centered {
        font-size: 1.3em;
        margin-top: 60px;
        }
    .footer-h {
        font-size: 30px;
    }
    .footer-form{
        padding-top: 10vh;
        text-align: left;
        padding-left: 20vw

    }
    .form-input {
        height: 20vh;
        width: 50vh;
    }
    .footer-labl{
        width: 300px;
    }
    .footer-content-button{
        width:300px;
        background-color: #F3D900;
        height: 40px;
        font-weight: 1000;
    }

}